# Local environment configuration for IngestRSS

# Redis configuration
REDIS_URL=redis://localhost:6379
REDIS_QUEUE_NAME=rss-feed-queue

# MinIO configuration
MINIO_ENDPOINT=***
MINIO_ACCESS_KEY=***
MINIO_SECRET_KEY=***
MINIO_BUCKET=***

# MongoDB settings
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=ingestrss
MONGODB_COLLECTION_NAME=rss_feeds

# Logging Configuration
LOG_LEVEL=INFO

# Other Application Settings
APP_NAME=RSS Feed Processor
VERSION=1.0.0

STORAGE_STRATEGY=s3
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=open-rss-articles
OLLAMA_HOST=http://localhost:11434
