pymongo==4.*
python-dotenv==1.0.*
requests==2.32.*
# Vector database and embedding libraries
qdrant-client
ollama
tqdm
prometheus-client
redis
minio
schedule==1.*
feedparser
newspaper3k
python-dateutil
lxml
lxml[html_clean]
boto3